nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/')
      i.fa.fa-cube
      | Darwinia Network
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto


